@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 153 70% 81%;
    --primary-foreground: 165 23% 31%;
    --secondary: 165 23% 31%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 165 23% 31%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 165 23% 31%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 153 70% 81%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
  .css-175 {
    @apply relative z-0 m-0 flex min-h-0 min-w-0 shrink-0 basis-auto flex-col items-stretch border-0 border-black bg-black/0 p-0;
  }

  dialog {
    max-width: 100vw;
    max-height: 100dvh;
  }
}
